#n {
    color: #2f3036; font-style: italic; font-size: smaller;
}
#mn {
<<<<<<< HEAD
    color: #2f3036; font-style: italic; font-size: smaller;}

.slider{

=======
    color: #2f3036; font-style: italic; font-size: smaller;
>>>>>>> 2185043ea4d6a1f3867817911d2f55e69bcff782
}

.who{
    text-align: center;
}

